<app-navbar></app-navbar>

<div class="page-title-area item-bg-2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>CAREER</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>CAREER</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="faq-section ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Explore a <span>Career</span> at Website-name</h2>
            <p>There are jobs - and then there are careers. the chance to do the kind of work that adds us to something meaningful.</p>
            <div class="bar"></div>
        </div>  
        <section class="contact-box pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-contact-box">
                            <div class="content-title">
                                <h5>Web Developer</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi explicabo labore natus, sunt numquam...</p>
                                <h6>Exp : 2 Yrs</h6>
                            </div>
                            <div class="send-btn mt-2">
                                <button type="submit" style="border: none;" class="default-btn" routerLink="/career-details/1">Read more</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-contact-box">
                            <div class="content-title">
                                <h5>Software developer</h5>
                                <a >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, nemo! Iste ut quam nisi natus, sunt numquam...</a>
                                <h6>Exp : 2 Yrs</h6>
                            </div>
                            <div class="send-btn mt-2">
                                <button type="submit" style="border: none;" class="default-btn" routerLink="/career-details/2">Read more</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                        <div class="single-contact-box">
                            <div class="content-title">
                                <h5>Full stack Developer</h5>
                                <a >Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dicta aperiam cupiditate voluptatibus...</a>
                                <h6>Exp : 2 Yrs</h6>
                            </div>
                            <div class="send-btn mt-2">
                                <button type="submit" style="border: none;" class="default-btn" routerLink="/career-details/3">Read more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
